/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerSection {
  padding: 2rem 0 1rem;
}

:root {
  --ifm-container-width-xl: 80%;
  /*
  --ifm-container-width-xl: min(calc(100% - 128px), 1320px);
  */
}
